[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
setuptools = "*"
wheel = "*"
pipenv-setup = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
twine = "*"
keyring = "*"
artifacts-keyring = "*"

[requires]
python_version = "3.8"
